.agent-box {
    width: 200px;
    background-color: #FAEBD7;
    font-family: Georgia, serif;
    font-weight: 600 ;
    
    margin-bottom: 10px;
   


  }
  .title{
    margin-left: 5px;
    text-decoration: underline;
  }
  .agent-box img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
  }
  .agent-box .content {
    display: inline;
    flex-direction: column;
    
    
  }
  .agent-box .svojstva {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 5px;
    margin-left: 5px;
  }
  