.lokacija {
  display: flex;
  flex-direction: column;
  background: rb(250,235,215);
  background-color: rgb(251, 250, 255);
  font-weight: 600 ;
  margin-bottom: 20px;
  padding: 20px 0;
}
.filijala{
  text-decoration: underline;
  font-size: 17px;
}