.dodaj-nekretninu {
    display: flex;
    align-items: stretch;
  }
  .dodaj-nekretninu-forma {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    flex-grow: 1;
  }
  .dodaj-nekretninu-forma .form-container {
    flex-grow: 0.5;
  }
  
  .slika {
    height: 700px;
  }
  .slika img {
    height: 100%;
  }
  